.smalltext {
  font-size: medium;
}

table {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

td {
  padding: 10px;
}
