html {
  font-family: arial, sans-serif;
  font-size: 100%;
  background-color: #ffffff;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-items: center;
  background-color: #950740;
}

nav a {
  color: white;
  text-decoration-line: none;
}

nav a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

section h1 {
  text-align: center;
}

section h2, h3, p, dl {
  padding: 0 0.5rem 0 0.5rem;
}

section ol {
  padding-left: 3rem; 
}

footer {
  padding: 10px 5px 10px 0;
  background-color: #950740;
  color: white;
}
