html {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  background-color: #EAE7DC;
  color: #000;
}

@media (min-width: 500px) {
  body {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1;
    grid-template-areas:
      "header header"
      "nav    main"
      "nav    main"
      "footer footer";
    }
  nav ul {
    display: inline;
  }
}

header {
  grid-area: header;
}

h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
  font-size: 2.25em;
  text-align: center;
  padding: 5px 0 5px 0;
  border-top: 1px solid #000;
  border-bottom: 3px double #000;
}

nav {
  grid-area: nav;
}

nav ul {
  text-align: left;
  list-style: none;
}

nav li {
  font-family: Helvetica, sans-serif;
  font-size: 12pt; 
}

nav li a {
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration: none;
}

main {
  grid-area: main;
}

section a {
  background-color: #EAE7DC;
  color: #000;
}

section a:hover {
  background-color: #EAE7DC;
  color: #6c6b6b;
}

footer {
  grid-area: footer;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 2.25em;
  color: #123C69;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  color: #AC3B61;
}

p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.75em;
  line-height: 1.5em;
  text-indent: 2em;
}

ul {
  /* https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references */
  list-style-type: '\203A\2004';
}

li {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.75em;
  line-height: 1.5em;
}

a {
  background-color: #EAE7DC;
  color: #000;
  text-decoration: underline;
}

/* blockquote code from: */
/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */

blockquote {
    background-color: #EAE7DC;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #ccc;
    line-height: 1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    line-height: 2em;
    font-size: 1.75em;
}

.mainheading a {
  background-color: #EAE7DC;
  color: #000;
  text-decoration: none;
}

.bigger {
  font-size: 2.75em;
}

a:hover {
  background-color: #EAE7DC;
  color: #6c6b6b;
}

article {
  border-top: 1px solid #000;
  padding: 20px 0 30px 0;
}

pre {
  padding: 5px;
  border-radius: 10px;
  color: #EEE2DC;
  background-color: #6c6b6b;
  font-size: 1.9em;
  overflow: auto;
}

p > code {
  padding: 1px 3px 1px 3px;
  border-radius: 5px;
  color: #EEE2DC;
  background-color: #6c6b6b;
  font-family: sans-serif;
  font-size: .9em;
}

.bold {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-bottom: 1px solid #000;
}

th {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px;
  font-weight: bold;
}

td {
  padding: 2px 10px 2px 10px;
}

tr:hover {
  background-color: #000;
  color: #6c6b6b;
}

footer {
  border-top: 1px solid black;
  padding: 10px 0 10px 0;
  text-align: center;
}

footer a, p {
}
