html {
  box-sizing: border-box;
  background-color: white;
  /* color: #333; */
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.5;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  max-width: 80ch;
  margin: auto;
  padding: 0 5px 0 5px;
}

header {
  border-bottom: 1px solid #16b10e;
  border-bottom-style: dashed;
}

h1, h2, h3, h4, h5, h6 {
  /* color: #3c790a; */
}

h2, h3 { scroll-margin-top: 3ex; /* places elements just below the top of the window */ }

code, pre {
  font-family: monospace;
}

p > code {
  /* color: #ce410a; */
}

pre {
  /* color: black; */
  /* background-color: #fcfaee; */
  padding: 10px;
  border-left: 8px solid #e0cb52;
  overflow-x: auto;
}

pre {
  font-family: monospace;
}

blockquote, aside {
  /* color: #068306; */
  /* background-color: #ddffdd; */
  padding: 10px;
  border-left: 8px solid #52e052;
}

img {
  max-width: 100%;
  height: auto;
}

a {
    /* color: #16b10e; */
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

hr {
  /* color: #16b10e; */
}

/* general classes */

.bold { font-weight: bold; }

.underline { text-decoration: underline; }

.small { font-size: .8em; }

/* Adding outline numbering to homepage */

body .outline {
    counter-reset: main_outline;
}

body .outline h2::before {
  content: counter(main_outline) " ";
  counter-increment: main_outline;
}

body .outline h2 {
  counter-reset: sub_outline;
}

body .outline h3::before {
  content: counter(main_outline) "." counter(sub_outline) " ";
  counter-increment: sub_outline;
}

/* Adding post numbering to The Text */
/* Applying to Firefox only: Chrome doesn't support the reversed() keyword yet in counter-reset */

@-moz-document url-prefix() {
  body #thetext {
    counter-reset: reversed(numbering);
  }
  
  body #thetext article > h2::before {
  counter-increment: numbering -1;
  content: "Post " counter(numbering) ": ";
  }
}

/* Table styling */

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow-x: auto;
}

table caption {
  text-align: left;
  font-style: italic;
}

thead {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

th,
td {
  padding: 0.5em;
}

