/* BODY */

body {
  margin: 1% 5% 0 5%;
  font-family: monospace; 
  font-size: 11pt;
}

header {
  border: 1px solid #000;
  max-width: 700px;
  padding-left: 10px;
  background-color: #eeeeee;
  color: black;
}

header h2 {
  font-size: 1.0em;
}

header p {
  font-size: .8em;
}

nav li {
  display: inline;
  list-style: none;
  padding: 5px 0 5px 0;
  letter-spacing: 0.1em;
}

nav li nth-child(1) a {
  background-color: white;
  color: red;
}

nav li:nth-child(2) a {
  background-color: white;
  color: fuchsia;
}

nav li:nth-child(3) a {
  background-color: white;
  color: green;
}

nav li:nth-child(4) a {
  background-color: white;
  color: orange;
}

nav li:nth-child(5) a {
  background-color: white;
  color: purple;
}

nav li a {
  text-decoration: none;
  font-weight: bold;
}

}
.news {
  border-bottom: 1px solid #000;
  max-width: 700px;
}

.research {
  border-bottom: 1px solid #000;
  max-width: 700px;
}

.teaching {
  border-bottom: 1px solid #000;
  max-width: 700px;
}

.bookshelf {
  border-bottom: 1px solid #000;
  max-width: 700px;
}

.about {
  border-bottom: 1px solid #000;
  max-width: 700px;
}

.siteinfo {
  border-bottom: 1px solid #000;
  max-width: 700px;
}

.sysadmin {
  border-bottom: 1px solid #000;
  max-width: 700px;
}

.statnotes {
  border-bottom: 1px solid #000;
  max-width: 700px;
}

.text {
  border-bottom: 1px solid #000;
  max-width: 700px;
}

.title {
  font-style: italic;
}

#thetext {
  max-width: 700px; 
}

#top {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  max-width: 700px;
  top: 0; 
  margin: 2px 0 2px 0;
  padding: 5px 0 5px 0;
  background: #eeeeee;
  text-align: center;
}

article {
  border-bottom: 1px solid #000;
}

h2, h3 {
  scroll-margin-top: 3ex; /* places h2 element just below the top of the window */
}

p, li {
  line-height: 1.25em;
}

strong {
  color: blue;
}

.bold {
  font-weight: bold;
}

blockquote {
    border-left: 1px solid #000;
    padding-left: 0.5em; 
}

blockquote p {
    display: inline;
    line-height: 1.5em;
}

pre {
  line-height: 1.5em;
  background-color: black;
  color: orange;
  padding: 1% 0 1% 1%;
  font-size: 93%;
  overflow: scroll;
}

p > code {
  background-color: yellow;
  color: black;
}

table {
  border-collapse: collapse;
  border-bottom: 1px solid #000;
}

th {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px;
  font-weight: bold;
}

td {
  padding: 2px 10px 2px 10px;
}

tr:hover {
  background-color: #000;
  color: #6c6b6b;
}

/* FOOTER */

footer {
  padding: 10px 5px 10px 0;
  max-width: 700px;
}

footer h2 {
  font-size: .9em;
}

footer a {
  font-size: 0.65em;
  line-height: 1.5em;
}

footer p {
  font-size: 0.65em;
}
