body {
  background-color: #272523;
  color: #FF8000;
}

h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.1em;
}

p {
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 1.5em;
  font-size: 1.2em;
}

a {
  background-color: #272523;
  color: #FF8000;
  text-transform: underline;
  text-decoration-color: #ffffff;
}

.mainheading a {
  text-decoration: none;
  color: #FF8000;
}

nav {
  border-bottom: 1px solid black;
}

article {
  border-top: 1px solid black;
}

pre {
  padding: 10px;
  border-radius: 5px; 
  color: #fff;
  background-color: #000;
}

p > code {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  font-family: sans-serif;
  font-size: 0.8em;
}

table {
  border-collapse: collapse;
  border-bottom: 1px solid black;
}

th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  font-weight: bold;
}

td {
  padding: 2px 10px 2px 10px;
}

footer {
  border-top: 1px solid black;
}
